**/.idea/
.DS_Store

# Ignore datasets
**/data/

# logs from rust
**/target/

# logs from airflow
contribution/apache-airflow/logs/
contribution/apache-airflow/airflow.cfg
contribution/apache-airflow/airflow.db

# VSCode
.vscode/
